@use "sass:math";

$sides: (
  t: "top",
  b: "bottom",
  l: "left",
  r: "right",
  bl: "block",
  i: "inline",
  bls: "block-start",
  ble: "block-end",
  is: "inline-start",
  ie: "inline-end",
);

// Generating margins from 1em to 10em

@for $i from 1 through 10 {
  .m-#{$i} {
    margin: #{$i}em;
  }
  .sm-#{$i} {
    margin: #{math.div($i, 10)}em;
  }
  .g-#{$i} {
    gap: #{$i}em;
  }
  .sg-#{$i} {
    gap: #{math.div($i, 10)}em;
  }

  // creating separate margins for each side separatly like mt-1,ml-5

  @each $name, $value in $sides {
    .m#{$name}-#{$i} {
      margin-#{$value}: #{$i}em;
    }
    .sm#{$name}-#{$i} {
      margin-#{$value}: #{math.div($i, 10)}em;
    }
  }
}
