@use "sass:math";
@use "media-queries" as queries;
@use "sass:list";

$directions: (
  t: "top",
  b: "bottom",
  l: "left",
  r: "right",
  bl: "block",
  i: "inline",
  bls: "block-start",
  ble: "block-end",
  is: "inline-start",
  ie: "inline-end",
);

// Generating margins from 1em to 10em and auto
.m-auto {
  margin: auto;
}

@each $name, $value in $directions {
  .m#{$name}-auto {
    margin-#{$value}: auto;
  }
  .sm#{$name}-auto {
    margin-#{$value}: auto;
  }
}

@for $i from 0 through 10 {
  .m-#{$i} {
    margin: #{$i}em;
  }
  .sm-#{$i} {
    margin: #{math.div($i, 10)}em;
  }
  .g-#{$i} {
    gap: #{$i}em;
  }
  .sg-#{$i} {
    gap: #{math.div($i, 10)}em;
  }

  // creating separate margins for each side separatly like mt-1,ml-5

  @each $name, $value in $directions {
    .m#{$name}-#{$i} {
      margin-#{$value}: #{$i}em;
    }
    .sm#{$name}-#{$i} {
      margin-#{$value}: #{math.div($i, 10)}em;
    }
  }

  @each $n, $values in queries.$devices {
    $size: list.nth($values, 1);
    $class: list.nth($values, 2);
    @include queries.from-mobile($size) {
      .#{$class}-up-m-#{$i}.#{$class}-up-m-#{$i} {
        margin: #{$i}em;
      }
      .#{$class}-up-sm-#{$i}.#{$class}-up-sm-#{$i} {
        margin: #{math.div($i, 10)}em;
      }

      .#{$class}-up-g-#{$i}.#{$class}-up-g-#{$i} {
        gap: #{$i}em;
      }
      .#{$class}-up-sg-#{$i}.#{$class}-up-sg-#{$i} {
        gap: #{math.div($i, 10)}em;
      }

      @each $name, $value in $directions {
        .#{$class}-up-m#{$name}-#{$i}.#{$class}-up-m#{$name}-#{$i} {
          margin-#{$value}: #{$i}em;
        }
        .#{$class}-up-sm#{$name}-#{$i}.#{$class}-up-sm#{$name}-#{$i} {
          margin-#{$value}: #{$i}em;
        }
      }
    }
    @include queries.from-desktop($size) {
      .#{$class}-down-m-#{$i} {
        margin: #{$i}em;
      }
      .#{$class}-down-sm-#{$i} {
        margin: #{math.div($i, 10)}em;
      }

      .#{$class}-down-g-#{$i} {
        gap: #{$i}em;
      }
      .#{$class}-down-sg-#{$i} {
        gap: #{math.div($i, 10)}em;
      }

      @each $name, $value in $directions {
        .#{$class}-down-m#{$name}-#{$i}.#{$class}-down-m#{$name}-#{$i} {
          margin-#{$value}: #{$i}em;
        }
        .#{$class}-down-sm#{$name}-#{$i}.#{$class}-down-sm#{$name}-#{$i} {
          margin-#{$value}: #{$i}em;
        }
      }
    }
  }
}
