@use "sass:math";
@use "margin";
@use "media-queries" as queries;
@use "sass:list";

// Generating padding with sizes from 1 to 5em for .p-$
// and 0.1 to 0.5em for .sp-$

@for $i from 0 through 10 {
  .p-#{$i} {
    padding: #{$i}em;
  }
  .sp-#{$i} {
    padding: #{math.div($i, 10)}em;
  }

  @each $name, $value in margin.$directions {
    .p#{$name}-#{$i}.p#{$name}-#{$i} {
      padding-#{$value}: #{$i}em;
    }
    .sp#{$name}-#{$i}.sp#{$name}-#{$i} {
      padding-#{$value}: #{math.div($i, 10)}em;
    }
  }
  @each $n, $values in queries.$devices {
    $size: list.nth($values, 1);
    $class: list.nth($values, 2);
    @include queries.from-mobile($size) {
      .#{$class}-up-p-#{$i} {
        padding: #{$i}em;
      }
      .#{$class}-up-sp-#{$i} {
        padding: #{math.div($i, 10)}em;
      }

      @each $name, $value in margin.$directions {
        .#{$class}-up-p#{$name}-#{$i}.#{$class}-up-p#{$name}-#{$i} {
          padding-#{$value}: #{$i}em;
        }
        .#{$class}-up-sp#{$name}-#{$i}.#{$class}-up-sp#{$name}-#{$i} {
          padding-#{$value}: #{$i}em;
        }
      }
    }
    @include queries.from-desktop($size) {
      .#{$class}-down-p-#{$i} {
        padding: #{$i}em;
      }
      .#{$class}-down-sp-#{$i} {
        padding: #{math.div($i, 10)}em;
      }

      @each $name, $value in margin.$directions {
        .#{$class}-down-p#{$name}-#{$i}.#{$class}-down-p#{$name}-#{$i} {
          padding-#{$value}: #{$i}em;
        }
        .#{$class}-down-sp#{$name}-#{$i}.#{$class}-down-sp#{$name}-#{$i} {
          padding-#{$value}: #{$i}em;
        }
      }
    }
  }
}
