@use "../main/font";
@use "../functions/" as f;
@use "../main/colors" as c;
@use "../globals/" as g;

@mixin input-shadow($color: c.$grey-200) {
  box-shadow: $color 0 0 0 f.to-r-em(3px);
}

.calculator {
  &__label {
    font-weight: font.$min-bold;
    line-height: 2;
    position: relative;
    &.people {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .input-icon {
      position: absolute;
      bottom: 1em;
      inset-inline-start: 1em;
    }
  }
  &__error {
    color: c.$red;
  }
  &__input {
    text-align: right;
    border: none;
    background-color: c.$grey-50;
    border-radius: 0.2em;
    padding: 0.2em;
    color: c.$text-color;
    inline-size: 100%;
    &.icon {
      padding-inline-start: f.to-r-em(50px, em);
    }
    &.error {
      @include input-shadow(c.$red);
      color: c.$red;
    }

    &.active {
      @include input-shadow(c.$green-400);
    }
    @include g.active-state {
      @include input-shadow(c.$grey-200);
      outline: none;

      &.error {
        @include input-shadow(c.$red);
        color: c.$red;
      }
    }
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    &[type="number"] {
      appearance: textfield;
    }
  }
  &__tips {
    &-buttons {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1em;
      @include g.mobile-queries(g.$mobile) {
        grid-template-columns: repeat(3, 1fr);
      }
      .btn {
        border-radius: 0.2em;
        border: none;
        padding: 0.1em;
        background-color: c.$text-color;
        color: c.$primary-color;
        cursor: pointer;
        &.active {
          background-color: c.$green-400;
          color: c.$text-color;
        }
        @include g.active-state {
          background-color: c.$grey-200;
          color: c.$text-color;
          outline: none;
        }
      }
    }
  }
}
