@use "../functions/" as f;
@use "../main/font";
.main {
  &__data {
    &-overview {
      background: url("/weather-app-main/assets/images/bg-today-small.svg")
        no-repeat;
      background-position: center;
    }
    &-daily {
      .daily-heading,
      .day-title {
        font-size: f.clamp-builder(1.2rem, 1.5rem);
      }
      .day-title {
        font-weight: font.$weight-normal;
      }
    }
  }
}
