@use "../functions/" as f;
@use "../main/font";
@use "../main/colors" as c;
.details {
  &-element {
    &-title {
      font-size: f.clamp-builder(1.2rem, 1.5rem);
      font-weight: font.$weight-natural;
      color: c.$neutral-200;
    }
    &-content {
      font-size: f.clamp-builder(2rem, 3rem);
    }
  }
}
