@use "../functions/" as f;
@use "../main/colors" as c;
.dropdown {
  font-size: f.to-r-em(16);
  background-color: c.$neutral-700;
  border-radius: f.to-r-em(5);
  &:focus {
    outline: 0.1em solid c.$neutral-0;
    border: 0.15em solid c.$neutral-900;
  }
}
