@use "../functions/" as f;
@use "../main/font";
@use "../main/colors" as c;
@use "../globals/media-queries" as queries;
.header {
  &__top {
    &-image {
      height: f.to-r-em(30);
    }
  }
  &__title {
    font-size: f.clamp-builder(3.3rem, 4rem);
    font-family: font.$secondary-font;
  }
  .search {
    font-size: f.clamp-builder(20, 25);
    &-label {
      position: relative;
      flex-basis: f.to-r-em(500px);
      max-inline-size: f.to-r-em(526px);
      &-icons {
        position: absolute;
        inset: 0;
        &.search {
          margin: auto 1.25em;
        }
        &.microphone {
          background: transparent;
          margin: auto 0.25em auto calc(100% - 2.5em);
        }
      }
    }
    &-input {
      inline-size: 100%;
      background-color: c.$neutral-700;
      color: c.$text-color;
      border: 0.15em solid c.$neutral-900;
      &:focus {
        outline: 0.1em solid c.$neutral-0;
      }
    }
    &-box {
      position: absolute;
      inline-size: 100%;
      text-align: start;
      max-block-size: f.to-r-em(300);
      overflow-y: auto;
      .search-text {
        border-block-end: f.to-r-em(1) solid c.$text-color;
      }
    }
    &-button {
      background-color: c.$blue-500;
      color: c.$text-color;
      border: 0.15em solid c.$neutral-900;
      &:focus {
        outline: 0.1em solid c.$blue-500;
      }
      &:hover {
        background-color: c.$blue-700;
      }
      @include queries.from-mobile(queries.$small-screen) {
        max-inline-size: f.to-r-em(114);
      }
    }
  }
}
