@use "../functions/" as f;
@use "../main/font";
@use "../main/colors" as c;
.header {
  &__top {
    &-image {
      height: f.to-r-em(30);
    }
  }
  &__title {
    font-size: f.clamp-builder(3.3rem, 6rem);
    font-family: font.$secondary-font;
  }
  .search {
    font-size: f.clamp-builder(20, 25);
    &-label {
      position: relative;
      &-icon {
        position: absolute;
        inset: 0;
        margin: auto 1.25em;
      }
    }
    &-input {
      inline-size: 100%;
      background-color: c.$neutral-700;
      color: c.$text-color;
    }
    &-button {
      background-color: c.$blue-500;
      color: c.$text-color;
    }
  }
}
