@use "../main/font";
@use "../functions/" as f;
@use "../globals/" as g;

.hourly {
  max-block-size: f.to-r-em(600);
  @include g.mobile-queries(g.$pc) {
    contain: size;
    grid-template-rows: auto 1fr;
    max-block-size: unset;
  }
  &__title {
    font-size: f.clamp-builder(1.3rem, 1.5rem);
  }
  &__data {
    &-time {
      font-size: f.clamp-builder(1.3rem, 1.5rem);
      font-weight: font.$weight-natural;
    }
    &-holder {
      overflow-y: auto;
    }
  }
  &__loader {
    display: block;
  }
}
