@use "../functions/" as f;
@use "../main/font";
@use "../globals/media-queries" as queries;
.overview {
  &-heading {
    text-align: center;
    &-town {
      font-size: f.clamp-builder(1.8rem, 3rem);
    }
    @include queries.from-mobile(queries.$mobile) {
      text-align: start;
    }
  }
  &-temp {
    font-size: 6rem;
    font-weight: font.$bold;
    font-style: italic;
  }
}
